<%- include('../partials/header') %>
<h1><%= title %></h1>
<table id="list" class="striped center">
        <thead>
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Home State</th>
          </tr>
        </thead>
        <tbody>
          <% players.forEach(function(p) { %>
            <tr>
              <td><%= p.number %></td>
              <td><%= p.name %></td>
              <td><%= p.homeState %></td>
              <td><a href="/players/<%= p._id %>">DETAILS</a></td>
              <td><form action="/players/<%= p._id %>?_method=DELETE" method="POST" >
                <button type="submit">X</button>
              </form></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
<%- include('../partials/footer') %>